.home-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #0073e6;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: left;
}

.container {
    max-width: 1600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.istruzioni {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.4;
}

.home-button:hover {
    background-color: #005bb5;
}

.disclaimer {
    font-size: 0.9em;
    color: #666;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 30px;
    line-height: 1.4;
}

.disclaimer strong {
    font-weight: bold;
}

.input-group-prepend .btn,
.input-group-append .btn {
    border-radius: 0;
    margin-bottom: 1px;
}

.input-group .form-control {
    border-radius: 0;
    max-width: 80px;
}

.result-text {
    font-size: 1.4em;
    font-weight: 600;
    color: #0056b3;
}

.usd-percentage-change {
    margin-top: 1rem !important;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 18px;
    margin-top: 20px;
    color: #0073e6;
    padding: .375rem .75rem;
    background-color: #f0f8ff;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
}